.store {
    display: flex;
    flex-direction: column;
}

.store__list {
    display: inline-flex;
    justify-content: center;
}

.store__item {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #4682B4;
    text-decoration: none;
    font-family: Roboto,sans-serif;
    padding: 20px;
    margin: 10px;
    min-width: 150px;
    border-radius: 10px;
}

.store__img {
    margin: 10px auto;
    height: 600px;
    width: 600px;
    border-radius: 180px;
}