.good__item {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
    border: 1px solid silver;
    border-radius: 10px;
    margin-top: 20px;
}

.good__item-img {
    height: 400px;
    width: 400px;
    margin-bottom: 10px;
    margin-top: 30px;
    border-radius: 10px;
}

.good__item-name {
    margin-bottom: 10px;
}

.good__item-price {
    margin-bottom: 10px;
}

.good__item_button-back {
    position: absolute;
    height: 30px;
    top: 5px;
    left: 10px;
    cursor: pointer;
}

.good__item-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.good__item-button {
    cursor: pointer;
    border-radius: 4px;
    border: solid 1px #666;
    margin-left: 10px;
    width: 70px;
    padding: 10px;
    text-decoration: none;
    color:black;
}

.good__item-button:hover {
    background-color: #555;
}
