.goods__item {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    border: 1px solid silver;
    border-radius: 10px;
}

.goods__item:hover {
    background-color: grey;
}

.goods_img {
    height: 200px;
    width: 200px;
}

.goods_name {
    margin-bottom: 10px;
}