.input__search {
    height: 40px;
    width: 250px;
    margin: 10px;

    padding-left: 15px;
}

.modal__add__img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.search__container {
    display: flex;
    align-items: center;
    justify-content: center;
}